<div>
    <div >
        <p>id: {{userC.id}}</p>
        <p>name: {{userC.name}}</p>
    </div><br>
    <p>total Object: {{totalCount}}</p>
    <!-- <table class="table">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Age Group</th>
      </thead>
      <tbody>
        <tr>
            <td>{{userC.id}}</td>
            <td>{{userC.name}}</td> -->
            <!-- <td *ngIf="user.age>40">Senior Citizen</td>
            <td *ngIf="user.age<=40">Junior Citizen</td> -->
            <!-- <td>{{userC.age>40? "Senior":"Junior"}} Citizen</td>
        </tr>
      </tbody>
    </table> -->
</div>
